.highlight
    position: relative
    display: block
    border-radius: 4px
    background: #fff
    box-shadow:  0 0 0 1px #1e25351a
    padding-top: 32px !important

    &::before
      background: #e6ebf1
      border-radius: 50%
      box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b
      content: ' '
      height: 12px
      left: 12px
      margin-top: -20px
      position: absolute
      width: 12px

    &::after
      background: #fa625c

   & .protyle-icons
      background-color: transparent
      border-radius: 4px

   & .protyle-icons>span:hover
      background-color: #cad8dd

   & .protyle-icons .protyle-action__language,.code-block .protyle-icons>span
      color: rgba(13, 56, 50, 0.719)
      font-weight: 600