.highlight
    position: relative
    display: block
    border-radius: 4px
    background: #e6ebf1
    box-shadow:  0 0 0 1px #1e25351a
    padding-top: 32px !important

    &::after
      background: #fa625c
      border-radius: 50%
      box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b
      content: ' '
      height: 12px
      left: 12px
      margin-top: -20px
      position: absolute
      width: 12px